.box {
    border: 1px solid black;
}
#canvas-container {
    display: inline-block;
    position: relative;
    font-size: 0;
}
#canvas {
    margin: 0 30px;
    width: 40vw;
    height: 40vw;
}

#run-button {
    font-size: 1.5rem;
}

#start, #end {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: red;
    left: 50%;
}
#end {
    bottom: 0;
}
label {
    display: inline-block;
    min-width: 100px;
}
div.flex {
    display: flex;
}
div.half {
    width: 50%;
}